<%= page_title("#{@evaluation.evaluation_form.name}") do %>
  <%= link_to 'Edit', edit_evaluation_path(@evaluation), class: 'pull-right btn btn-primary' %>
<% end %>

<p>
  <strong>Filled out on:</strong>
  <%= l @evaluation.created_at, format: :long %>
</p>


<% @evaluation.answers.each_with_index do |answer, index| %>
  <%= content_tag :div, answer, class: 'panel panel-default' do %>
    <div class="panel-heading">
      <h3 class="panel-title">#<%= index + 1 %> - <%#= EvaluationFormQuestion.where(name: answer, evaluation_form_id: @evaluation.evaluation_form_id).first.en_label %>
        <%#= EvaluationFormQuestion.where(name: answer, evaluation_form_id: @evaluation.evaluation_form_id).first.inspect %></h3>
      <%= answer.inspect %>
    </div>
    <div class="panel-body">
      <%= answer[1] %>
    </div>
  <% end %>
<% end %>