<%= page_title("#{@evaluation.title}") do %>
  <%= link_to 'Edit', edit_evaluation_path(@evaluation), class: 'pull-right btn btn-primary' %>
<% end %>

<p>
  <strong>Evaluation Date:</strong>
  <%= l @evaluation.date, format: :long %>
</p>

<p>
  <strong>Evaluation Form:</strong>
  <%= @evaluation.evaluation_form.name %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @evaluation.procedure.try(:name) %>
</p>

<p>
  <strong>Evaluator:</strong>
  <%= @evaluation.evaluator.try(:full_name) %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @evaluation.resident.try(:full_name) %>
</p>

<% @evaluation.questions.each do |question| %>
  <li><%= question.en_name %></li>
<% end %>