<%= simple_nested_form_for([:admin, @evaluation_form]) do |f| %>
  <%= f.error_notification %>

	<%= f.input :name %>
	<div class="form-group">
		 <div class="checkbox">
	    <label><%= f.check_box :active %> Active</label>
	  </div>
	</div>
	<%= f.input :active %>
	<%= f.input :introduction %>
	<%= f.input :conclusion %>
  
  <br><h4>Questions</h4>
	<%= f.fields_for :questions do |q| %>
	  <span class="pull-right text-danger"><%= q.link_to_remove "Remove" %></span>
	  <%= q.input :en_name, as: :string %>
	  <%= q.input :fr_name, as: :string %>
	  <%= q.input :en_hint, as: :string %>
	  <%= q.input :fr_hint, as: :string %>
	  <%= q.input :question_type, collection: EvaluationFormQuestion::QuestionType.options_with_label, include_blank: false, html_input: {class: 'qtype'} %>
	  <%= q.input :scale %>

	  <script>
		  $qtype = $('.qtype')
		  if ($qtype.val() == 'rating') {
		  	alert("rre");
		    $('.evaluation_form_questions_scale').next().toggle();
		  };
		</script>
	<% end %>
	<%= f.link_to_add "Add Question", :questions, class: "btn btn-primary add-link" %>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
  
<% end %>

