<%= page_title("Evaluation Forms") do %>
  <%= link_to 'New Evaluation form', new_admin_evaluation_form_path, class: 'pull-right btn btn-primary' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_forms.each do |evaluation_form| %>
      <tr>
        <td>
          <%= link_to evaluation_form.name, admin_evaluation_form_path(evaluation_form) %>
          <%= status_tag("#{evaluation_form.active? ? 'Active' : 'Inactive'}", class: "label-env label-#{evaluation_form.active? ? 'default' : 'warning'}") %>
        </td>
        <td class="tright">
          <%= link_to 'Edit', edit_admin_evaluation_form_path(evaluation_form) %> | 
          <%= link_to 'Destroy', admin_evaluation_form_path(evaluation_form), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>