<%= page_title("#{@evaluation_form.name}") do %>
  <%= status_tag("#{@evaluation_form.active? ? 'Active' : 'Inactive'}", class: "label-env label-#{@evaluation_form.active? ? 'default' : 'warning'}") %>
  <%= link_to 'Edit', edit_admin_evaluation_form_path(@evaluation_form), class: "pull-right btn btn-primary" %>
<% end %>

<% @evaluation_form.questions.order('position').each do |question| %>
  <div>
  	<h3>#<%= question.position + 1 %></h3>

  	<div class="row">
		  <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>ENGLISH</h5>
		  	<p><b>Name: </b> <%= question.en_name %></p>
		  	<p><b>Hint: </b> <%= question.en_hint %></p>
		  </div>
		  <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>FRENCH</h5>
  	    <p><b>Name: </b> <%= question.fr_name %></p>
  	    <p><b>Hint: </b> <%= question.fr_hint %></p>
		  </div>
		</div>
    <p><b>Type: </b> <%= question.question_type %></p>
  </div>
<% end %>