<div ng-repeat="field in fields">

  <div class="panel panel-default form-field" id="form-field-{{ field.id }}">
    <div class="panel-heading" ng-click="toggleFormFieldConfig(field)">
      <h3 class="panel-title"><abbr title="required" ng-if="(field.required == true) || (field.required == '1')">*</abbr>
      {{ field.en_label || field.fr_label }}
      <%= link_to '', "ng-click" => "removeField(field)", class: 'pull-right link-delete', title: "Click to delete this field" do %>
          <i class='fa fa-trash-o'></i>
        <% end %>
    </h3>
    </div>
    <div class="panel-body">
      <!-- single line -->
      <input type="text" class="form-control" ng-if="field.field_type == 'single_line'" name="{{ field.name }}">

      <!-- paragraph -->
      <textarea class="form-control" rows="3" ng-if="field.field_type == 'paragraph'" name="{{ field.name }}"></textarea>

      <!-- boolean -->
      <div class="radio" ng-if="field.field_type == 'boolean'">
        <label>
          <input type="radio" name="{{ field.name }}" value="1" checked>
          {{ field.properties.true_label }}
        </label>
      </div>
      <div class="radio" ng-if="field.field_type == 'boolean'">
        <label>
          <input type="radio" name="{{ field.name }}" value="0" checked>
          {{ field.properties.false_label }}
        </label>
      </div>

      <!-- MCQ -->
      <div class="checkbox"  ng-repeat="opt in field.field_options" ng-if="field.field_type == 'mcq'">
        <label>
          <input type="checkbox"> {{ opt.name }}
        </label>
      </div>

      <!-- Rating -->
      <div class="radio" ng-repeat="opt in field.field_options" ng-if="field.field_type == 'rating'">
        <label>
          <input type="radio" name="{{ field.name }}[{{ opt.name }}]" value="{{ opt.name }}">
          {{ opt.name }}
        </label>
      </div>

      <p class="help-block" ng-if="field.en_hint != ''"> {{ field.en_hint }} </p>
    </div> <!-- end panel body -->

    <!-- field options -->
    <div class='panel-footer hide form-field-config-container'>
      <%= f.fields_for 'fields_attributes[{{field.id}}]', FormField.new, id: nil do |ff| %>
        <%#= ff.input :field_type, collection: FormField::FieldType.options_with_label, include_blank: false, input_html: { id: nil, class: 'qtype', 'ng-model' => "field.field_type"} %>
        <%#= ff.input :name, input_html: { 'ng-model' => "field.name" } %>
        <%= ff.input :en_label, label: 'Label', as: :string, input_html:  { 'ng-model' => "field.en_label", id: nil } %>
        <%= ff.input :en_hint, label: 'Hint', as: :string, input_html:   { 'ng-model' => "field.en_hint", id: nil } %>
        <div class="checkbox">
          <label><%= ff.check_box :required, { 'ng-model' => "field.required", id: nil } %> Required</label>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <%= ff.input :true_label, placeholder: "Yes", input_html: { 'ng-model' => "field.properties.true_label", id: nil } %>
          </div>
          <div class="col-xs-6">
            <%= ff.input :false_label, placeholder: "No", input_html: { 'ng-model' => "field.properties.false_label", id: nil } %>
          </div>
        </div>
        <h5>Field Options</h5>
        <div class='clearfix' ng-repeat="field_option in field.field_options">
          <%= ff.fields_for "field_options_attributes[{{ field_option.id }}]" do |fo| %>
            <%= fo.input :name, as: :string, label: false, input_html: { style: "width:30%", class: 'pull-left', 'ng-model' => 'field_option.name' }, placeholder: 'Value' %>
            <%= link_to '(Del)', '', 'ng-click' => "removeFieldOption(field, field_option)", class: 'link-delete pull-left' %>
          <% end %>
          <br />
        </div>
        <%= link_to "Add Option", '', 'ng-click' => "addFieldOption(field)" %>
      <% end %>
    </div> <!-- end panel footer -->
  </div> <!-- end panel -->
</div> <!-- end fields -->