<div ui-sortable="sortableOptions" ng-model="fields">

  <div ng-repeat="field in fields" on-last-repeat class="panel panel-default form-field {{ field.deleted ? 'hide' : '' }}" id="form-field-{{ field.id }}" ng-class="{fieldsection: (field.field_type == 'section')}">
    <div class="panel-heading" ng-click="toggleFieldConfig(field)">
      <h3 class="panel-title"><abbr title="required" ng-if="(field.required == true) || (field.required == '1')">*</abbr>
        {{ field.field_label }}
        <%= link_to '', "ng-click" => "removeField(field)", class: 'pull-right link-delete', title: "Click to delete this field", "stop-event" => "click" do %>
          <i class='fa fa-trash-o'></i>
        <% end %>
      </h3>
    </div>

    <div class="panel-body">
      <% Enum::FormField::FIELD_TYPE[:options].each do |f_type| %>
        <%= render "/forms/field_types/#{f_type.to_s}" %>
      <% end %>

      <p class="help-block" ng-if="(field.field_hint != '') && (field.field_hint != undefined)"> {{ field.field_hint }} </p>
    </div>
    <!-- end panel body -->

    <!-- field options -->
    <div class='panel-footer hide field-config-container'>
      <h6>FIELD SETTINGS</h6>
      <%= f.fields_for 'fields_attributes[{{field.id}}]' do |ff| %>
        <%= ff.hidden_field :id, value: "{{ field.id }}", 'ng-if' => "field.persisted == true" %>
        <%= ff.hidden_field :_destroy, value: "{{ field.deleted }}", 'ng-if' => "field.persisted == true" %>
        <%= ff.hidden_field :field_type, value: "{{ field.field_type }}" %>
        <%= ff.hidden_field :position, value: "{{ field.position }}" %>
        <%= ff.hidden_field :name, value: "{{ field.name }}" %>
        <%= ff.input :field_label, label: 'Label', as: :string, wrapper_html: { 'ng-if' => "needField(field, 'label')" }, input_html: { 'ng-model' => "field.field_label" } %>
        <%= ff.input :field_hint, label: 'Hint', as: :string, wrapper_html: { 'ng-if' => "needField(field, 'hint')" }, input_html: { 'ng-model' => "field.field_hint" } %>
        <div class="checkbox" ng-if="needField(field, 'required')">
          <label><%= ff.check_box :required, { 'ng-model' => "field.required" } %> Required</label>
        </div>

        <div class="row" ng-if="needField(field, 'description')">
          <div class="col-xs-12">
            <%= ff.fields_for "properties" do |fp| %>
              <%= fp.input :description, as: :text, input_html: { 'ng-model' => "field.properties.description" } %>
            <% end %>
          </div>
        </div>

        <div class="row" ng-if="needField(field, 'currency')">
          <%= ff.fields_for "properties" do |fp| %>
            <div class="col-xs-6">
                <%= fp.input :currency, as: :string, input_html: { 'ng-model' => "field.properties.currency" } %>
            </div>

            <div class="col-xs-6">
              <%= fp.input :add_on, as: :select, collection: [['Prepend', 'prepend'], ['Append', 'append']], include_blank: false, input_html: { 'ng-model' => "field.properties.add_on" } %>
            </div>
          <% end %>
        </div>

        <div class="row" ng-if="needField(field, 'range')">
          <%= ff.fields_for "properties" do |fp| %>
            <div class="col-xs-6">
              <%= fp.input :from_number, as: :integer, input_html: { 'ng-model' => "field.properties.from_number" } %>
            </div>

            <div class="col-xs-6">
              <%= fp.input :to_number,   as: :integer, input_html: { 'ng-model' => "field.properties.to_number" } %>
            </div>
          <% end %>
        </div>

        <div class="row" ng-if="needField(field, 'boolean_label')">
          <%= ff.fields_for "properties" do |fp| %>
            <div class="col-xs-6">
              <%= fp.input :true_label, placeholder: "Yes", input_html: { 'ng-model' => "field.properties.true_label", id: nil } %>
            </div>
            <div class="col-xs-6">
              <%= fp.input :false_label, placeholder: "No", input_html: { 'ng-model' => "field.properties.false_label", id: nil } %>
            </div>
          <% end %>
        </div>

        <div class="row"  ng-if="needField(field, 'rating')">
          <%= ff.fields_for "properties" do |fp| %>
            <div class="col-xs-4">
              <%= fp.input :max_rating, as: :integer, input_html: { 'ng-model' => "field.properties.max_rating", min: 1 } %>
            </div>

            <div class="col-xs-4">
              <%= fp.input :symbol, as: :select, collection: FontAwesome::AVAILABLE, include_blank: false, input_html: { 'ng-model' => "field.properties.symbol" } %>
            </div>

            <div class="col-xs-4">
              <%= fp.input :format, as: :select, collection: [['Horizontal', 'inline'], ['Vertical', 'vertical']], include_blank: false, input_html: { 'ng-model' => "field.properties.format" } %>
            </div>
          <% end %>
        </div><!-- end field rating -->

        <div ng-if="needField(field, 'statements')" >

          <h6>Statements</h6>
          <div ng-repeat="statement in field.properties.statements" class="row">
            <div class="col-xs-11">
              <%= ff.input "properties[statements]", as: :string, label: false, input_html: { 'ng-model' => 'statement', placeholder: 'Statement', id: nil, multiple: true } %>
            </div>

            <div class="col-xs-1" style='padding-left:0;'>
              <%= link_to 'remove', '', 'ng-click' => "removeFieldPropertiesStatement(field, statement)", class: 'link-danger' %>
            </div>
          </div>
          <p><%= link_to "Add statement", '', 'ng-click' => "addFieldPropertiesStatement(field)" %></p>


          <h6>Columns</h6>
          <div ng-repeat="column in field.properties.columns" class="row">
            <div class="col-xs-11">
              <%= ff.input "properties[columns]", as: :string, label: false, input_html: { 'ng-model' => 'column', placeholder: 'Column', id: nil, multiple: true } %>
            </div>

            <div class="col-xs-1" style='padding-left:0;'>
              <%= link_to 'remove', '', 'ng-click' => "removeFieldPropertiesColumn(field, column)", class: 'link-danger' %>
            </div>
          </div>
          <p><%= link_to "Add column", '', 'ng-click' => "addFieldPropertiesColumn(field)" %></p>
        </div>


        <div  ng-if="needField(field, 'field_options')">
          <h6>FIELD OPTIONS</h6>
          <div ng-repeat="field_option in field.field_options" class="row {{ field_option.deleted ? 'hide' : '' }}">
            <%= ff.fields_for "field_options_attributes[{{ field_option.id }}]" do |fo| %>
              <div class="col-xs-11">
                <%= fo.input :name, as: :string, label: false, input_html: { 'ng-model' => 'field_option.name' }, placeholder: 'Value' %>
                <%= fo.hidden_field :id, 'value' => '{{ field_option.id }}', 'ng-if' => "field_option.persisted == true" %>
                <%= fo.hidden_field :_destroy, 'value' => '{{ field_option.deleted }}', 'ng-if' => "field_option.persisted == true" %>
              </div>
              <div class="col-xs-1" style='padding-left:0;'>
                <%= link_to 'remove', '', 'ng-click' => "removeFieldOption(field, field_option)", class: 'link-danger' %>
              </div>
            <% end %>
          </div>
          <p><%= link_to "Add option", '', 'ng-click' => "addFieldOption(field)" %></p>
        </div><!-- end field options -->

      <% end %>
    </div> <!-- end panel footer -->
  </div> <!-- end panel -->
</div> <!-- end fields -->