<%= simple_nested_form_for(@form, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

	<%= f.input :name %>
	<%= f.input :introduction %>
	<%= f.input :confirmation_message %>
	<%= f.input :max_entries_allowed %>
	<%= f.input :end_date %>
	<%= f.input :start_date %>
	<div class="form-group">
		 <div class="checkbox">
	    <label><%= f.check_box :unique_ip_only %> Allow Only One Entry Per IP</label>
	  </div>
	</div>
	<div class="form-group">
		 <div class="checkbox">
	    <label><%= f.check_box :send_email_confirmation %> Send Confirmation Email to User</label>
	  </div>
	</div>
	<div class="form-group">
		<div class="checkbox">
	    <label><%= f.check_box :show_questions_one_by_one %> Show questions one by one</label>
	  </div>
	</div>

  <br>
  <h4>Fields</h4>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>

