<%= page_title("Editing Form") %>

<div id="form-content">
  <%= simple_nested_form_for(@form, html: { class: 'form-horizontal' }) do |f| %>
     <%= content_for :sidebar do %><%= render 'sidebar', f: f %><% end %>
    <%= f.error_notification %>

    <h4>Fields</h4>
    <div ng-repeat="field in fields">

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">
          <abbr title="required" ng-if="field.required == true">*</abbr>
          {{ field.en_label || field.fr_label }}
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-if="field.field_type == 'single_line'" name="{{ field.name }}">
          <textarea class="form-control" rows="3" ng-if="field.field_type == 'paragraph'" name="{{ field.name }}"></textarea>
          <div class="radio" ng-if="field.field_type == 'boolean'">
            <label>
              <input type="radio" name="{{ field.name }}" value="true" checked>
              {{ field.properties.true_label }}
            </label>
          </div>
          <div class="radio" ng-if="field.field_type == 'boolean'">
            <label>
              <input type="radio" name="{{ field.name }}" value="true" checked>
              {{ field.properties.false_label }}
            </label>
          </div>
        </div>
      </div>

    </div>
    <%#= f.fields_for :fields %>
    <%#= f.link_to_add "Add Field", :fields, data: {target: "#form-content" }, class: "btn btn-primary add-link" %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>