<%= page_title("Forms") do %>
  <%= link_to 'New form', new_form_path, class: 'pull-right btn btn-primary' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Public Link</th>
      <th>Entries</th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= link_to form.name, form_path(form.slug) %></td>
        <td><%= link_to form.slug, public_form_path(form) %></td>
        <td><%= form.entries_count %></td>
        <td class="tright">
          <%= link_to "Notifications", notifications_form_path(form) %> |
          <%= link_to 'Edit', edit_form_path(form) %> |
          <%= link_to 'Destroy', form_path(form), method: :delete, data: { confirm: "#{t 'are_you_sure'}" }, class: "#{form.can_be_deleted? ? 'disabled' : ''}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>