<%= page_title("#{@form.name}") do %>
  <%= link_to "Download to Excel", "", class: "pull-right btn btn-default" %>
  <%= link_to "Download to CSV", form_form_entries_path(@form, format: "csv"), class: "pull-right btn btn-default" %>
  <%= link_to 'Edit', edit_form_path(@form), class: "pull-right btn btn-primary" %>
<% end %>


<% if @form.entries.count > 0 %>
  <% @form.fields.order('position').each do |field| %>
    <div>
      <h3><%= field.name %> <%= status_tag("required", level: 'info') if field.required? %></h3>
      <p><b>Type: </b> <%= field.field_type %></p>
      <% if field.boolean? %>
        <div id=<%= field.id.to_s %>></div>
        <%= render_chart get_bool_count(@form, field), field.id.to_s %><%#= get_bool_count(@form, field) %></p>
      <% elsif field.rating? %>
        <p><b>Avg Scale: </b> <%= get_scale_average(@form, field) %></p>
      <% elsif field.mcq? %>
        <div id=<%= field.id.to_s %>></div>
        <%= render_chart get_options_count(@form, field), field.id.to_s %><%#= get_options_count(@form, field) %>
      <% end %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p class="alert alert-warning">No entries yet.</p>
<% end %>