<%= page_title("#{@form.name}") do %>
  <%= status_tag("#{@form.active? ? 'Active' : 'Inactive'}", class: "label-env label-#{@form.active? ? 'default' : 'warning'}") %>
  <%= link_to "Download to Excel", "", class: "pull-right btn btn-default" %>
  <%= link_to 'Edit', edit_form_path(@form), class: "pull-right btn btn-primary" %>
<% end %>


<% if @form.entries.count > 0 %>
  <% @form.fields.order('position').each do |field| %>
    <div>
      <h3><%= field.name %> <%= status_tag("required", level: 'info') if field.required? %></h3>
      <p><b>Type: </b> <%= field.field_type %></p>
      <% if field.boolean? %>
        <div id=<%= field.id.to_s %>></div>
        <%= render_chart get_bool_count(@form, field), field.id.to_s %><%#= get_bool_count(@form, field) %></p>
      <% elsif field.rating? %>
        <p><b>Avg Scale: </b> <%= get_scale_average(@form, field) %></p>
      <% elsif field.mcq? %>
        <div id=<%= field.id.to_s %>></div>
        <%= render_chart get_options_count(@form, field), field.id.to_s %><%#= get_options_count(@form, field) %>
      <% end %>
    </div>
    <hr>
  <% end %>
<% else %>
  <h3>No Entries Yet!</h3>
<% end %>