<%= page_title("#{@form.name}") do %>
  <%= link_to 'Edit', edit_form_path(@form), class: "pull-right btn btn-primary" %>
  <%= link_to 'Preview', public_form_path(@form), class: "pull-right btn btn-default", target: :blank %>
  <%= link_to 'Summary', summary_form_path(@form), class: "pull-right btn btn-default" %>
  <%= link_to 'Report', report_form_path(@form), class: "pull-right btn btn-default" %>
<% end %>

<% if @form.entries.any? %>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% index = 0 %>
    <% @form.entries.order('created_at DESC').each do |entry| %>
      <% index = index + 1 %>
      <tr>
        <td><%= link_to entry.created_at, form_form_entry_path(@form, entry, index: index) %></td>
        <td><%= link_to "Entry #"+index.to_s, form_form_entry_path(@form, entry) %></td>
        <td><%= link_to "Edit", edit_form_form_entry_path(@form, entry) %></td>
        <td><%= link_to "Delete", form_form_entry_path(entry.form, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="alert alert-warning">No entries found.</p>
<% end %>