<%= page_title("#{@form.name}") do %>
  <%= link_to 'Edit', edit_form_path(@form), class: "pull-right btn btn-primary" %>
<% end %>

<% @form.fields.order('position').each do |field| %>
  <div>
 	  <h3>#<%= field.position.to_i + 1 %> - <%= field.name %> <%= status_tag("required", level: 'info') if field.required? %></h3>

		<p><b>Label: </b> <%= field.field_label %></p>
    <p><b>Hint: </b> <%= field.field_hint %></p>
    <p><b>Type: </b> <%= field.field_type %></p>
	  <!--<%# if field.rating? %>-->
	    <!--<p><b>Scale: </b> <%#= field.scale %></p>-->
	  <!--<%# elsif field.mcq? %>-->
	    <!--<p><b>Options: </b> <%#=  (@form.entries.count <= 0) ? field.field_options.map(&:name) : get_entries(@form, field) %></p>-->
	  <!--<%# end %>-->
    <%= field.properties['data'] %>
  </div>
  <hr>
<% end %>

<pre><%= JSON.pretty_generate JSON.parse(@form.to_json) %></pre>