<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">#<%= index + 1 %> - <%= f.label question.name, "#{original_question.en_label}" %></h3>
    <%= question.id %>
  </div>
  <div class="panel-body">
    <%= render "evaluations/fields/#{question.question_type}", f: f, question: question, original_question: original_question %>
    <% if original_question.en_hint.present? %>
      <span class="help-block"><%= original_question.en_hint %></span>
    <% end %>
  </div>
</div>