<%= content_tag_for :tr, user do %>
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.forms.length %></td>
  <td><%= distance_of_time_in_words_to_now(user.created_at) %></td>
  <td><%= icon_button_link_to "#{user.active? ? t('deactivate') : t('activate')}", toggle_status_admin_user_path(user), method: :post, remote: true, level: "#{user.active? ? 'danger' : 'success'}", size: 'small', icon: "#{user.active? ? 'remove' : 'play'}", white: true %></td>
<% end %>