<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{t 'site_name'}", current_user ? forms_path : root_path, class: 'navbar-brand' %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <%= tabs_tag builder: BootstrapSidebarNavBuilder, open_tabs: { class: "nav navbar-nav" } do |tab| %>
    	  <% if current_user %>
          <li><%= tab.forms "Forms", forms_path %></li>
          <li><%= tab.reports "Reports", reports_path %></li>
        <% else %>
          <li><%= tab.features "Features", root_path %></li>
          <li><%= tab.contact "Contact", root_path %></li>
        <% end %>
    	<% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to (current_user.first_name.present? ? current_user.first_name : 'My Profile'), profile_path %></li>
          <!-- <% if current_account.is_owner?(current_user) %>
            <li><%= link_to "Administration", admin_users_path %></li>
          <% end %> -->
          <li><%= link_to("#{t 'logout'}", logout_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to "#{t 'sign_up'}", signup_path %></li>
          <li><%= link_to "#{t 'sign_in'}", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>