<!DOCTYPE html>
<html>
<head>
  <title><%= t 'site_name' %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body <% if content_for?(:body_class) %>class="<%= yield(:body_class) %>"<% end %>>
  <%= render 'header' %>

  <% if content_for?(:jumbotron) %>
    <div class="jumbotron">
      <div class="container">
        <%= yield(:jumbotron) %>
      </div>
    </div>
  <% end %>

  <div class="container main-container">
    <%= yield %>
  </div>
</body>
</html>