<!DOCTYPE html>
<html>
<head>
  <title><%= @form.name %>| <%= t 'site_name' %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<!-- I remove class form-container here -->
<body class="public_form">
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <p class="text-muted">Made with <%= link_to "#{t 'site_name'}", public_home_path %> <%= icon_tag("heart") %> Create free form / survey</p>
    </div>
  </footer>
</body>

</html>